@media (max-width:1024px) {
    .cabecalho {
        justify-content: center;
        flex-direction: column;
        padding: 50px 0;
        gap: 15px;
    }

    .cabecalho .menu li a{
        padding: 15px;
    }

    .home .informacoes{
        padding: 30px;
    }

    .home .informacoes img{
        max-width: 100px;
    }

    .home .informacoes .titulo{
        font-size: 40px;
    }

    .compre-ja .cartao{
        width: 70%;
    }
    
}

@media (max-width: 800px) {
  .home::after {
    content: none;
  }

  .lista-de-jogos {
    flex-direction: column;
  }
}

@media (max-width:768px){
    .compre-ja{
        padding: 30px;
    }

    .compre-ja .cartao{
        padding: 80px 20px;
        width: 100%;
}

.compre-ja .informacoes .h3{
    font-size: 35px;
}

.compre-ja .informacoes .plataformas{
    flex-direction: column;
}

.btn-plataforma{
    margin-top: 15px;
    padding: 15px;

}

.btn-comprar{
    width: 100%;
}

}

@media (max-width: 425px) {
  main::after {
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.4) 100%,
      transparent 65%
    );
  }

  .compre-ja .cartao .capa-do-jogo {
    max-width: 80%;
  }
}

@media (max-width: 375px) {
  .home {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    min-height: 0;
  }

  .home .imagem-fundo {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
  }

  .home .informacoes {
    position: relative;
    min-height: 0;
    padding: 15px;
  }
  .home .informacoes .titulo {
    font-size: 28px;
  }

  .compre-ja .informacoes h3 {
    font-size: 24px;
  }

  .compre-ja .cartao {
    padding: 30px 15px;
  }
}

